# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# OS-specific files
.DS_Store
Thumbs.db

# Environment files
.env
.venv/
env/
venv/
*.egg-info/

# Output files
*.log
*.out

# Data files (optional: if very large, add specific large raw datasets)
# data/

# Model files
*.h5
*.pkl
*.pt
*.joblib

# Other temporary files
*.bak
*.swp
